@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;600;800&display=swap');

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

*{
    font-family: 'Roboto Slab', serif; 
}

.navbar {
    background-color: #3c5d7b !important ;
}

.navbar-toggler{
    border-color:#F7F7F4 !important ;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(247,247,244)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.nav-link {
    color: #F7F7F4 !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #F7F7F4;
    letter-spacing: -2px;
    font-weight: 600;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: asset-url('jumbo-copy.jpg');
    background-position: 50% 11% ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: #F7F7F4;
}

#jumbotron-title-home {
    letter-spacing: -2px;
    font-weight: bold;
}

.text-success{
    color: #242830 !important;
}

.text-success:hover{
    color:  !important;
  }

.btn-success{
    background-color:  #3c5d7b;
    border-color:  #3c5d7b;
}

.btn-outline-success-dark{
    color:#F7F7F4 ;
    border-color: #F7F7F4;
}

.btn-outline-success-dark:hover, 
.btn-success-dark:hover, 
.btn-success:hover,
.btn-success-dark:active{
    background-color:#9CA4A6 !important;
    border-color: #9CA4A6 !important;
    color: #F7F7F4 !important;
    box-shadow:none !important; 

}

html,
body {
  height: 100%;
  background-color:#F7F7F4;
}

#page-content {
  flex: 1 0 auto;
  background-color: hsl(30, 16%, 96%) !important;
}

.sticky-footer {
    flex-shrink: none;
    background-color: #3c5d7b;
    text-align: center;
    color: #F7F7F4;
  }

  #article-form{
      background-color: #302c35;
      margin-top: 25px;      
  }

  .dark-text{
    color: #302c35;
  }

  .light-text{
    color: #f7f7f4;
  }

  .article-title:hover, .icon:hover{
    color: #3c5d7b  
  }

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23457' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23457' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    background-color: #457 !important; 
}

/* Pagination stylinh */
.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em; 
      border-radius: 3%; }
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color:  #3c5d7b; }
    .flickr_pagination a {
      color: #3c5d7b;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: #3c5d7b;
        background: #3c5d7b;
        color: white; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border: 1px solid #3c5d7b;
      border-width: 1px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }