<h1 class="text-center mt-4 mb-2">Toutes les catégories</h1>
<%= render 'category' %>

<div class="container d-flex justify-content-center flickr_pagination mb-4">
<%= will_paginate @categories, :previous_label => 'Précédent', :next_label => 'Suivant' %>
</div>