  <footer class="py-4 sticky-footer">
    <div class="container text-center">
      <small>Copyright: &copy; <%=link_to "Emile Chamoun | 2020", "https://www.google.com/search?q=emile+chamoun", class: "text-white"%></small>
    </div>
  </footer>